@charset "utf-8";
.cb {
  /* overflow: hidden; */
  contain: paint;
}

.c-select {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 7px;
  border-radius: 0.4375rem;
  width: 100%;
  background-color: white;
}

.c-select select {
  width: 100%;
  padding: 10px;
  padding: 1.025rem;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-indent: 0.000625rem;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 15px;
}

.c-select select::-ms-expand {
  display: none;
}

.c-select::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0.6em;
  width: 0;
  height: 0;
  padding: 0;
  border-left: 5px solid transparent;
  border-left: 0.3125rem solid transparent;
  border-right: 5px solid transparent;
  border-right: 0.3125rem solid transparent;
  border-top: 6px solid #c5c5c5;
  border-top: 0.375rem solid #c5c5c5;
  pointer-events: none;
}

.c-input {
  border: 2px solid #dedede;
  border-radius: 7px;
  border-radius: 0.3375rem;
  padding: 10px;
  padding: 1.2rem;
  width: 90%;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .c-input {
    padding: 1.4rem;
    width: 95%;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
}

.c-input-col {
  display: flex;
  width: 100%;
  align-items: center;
}

.c-input-col > * + * {
  margin-left: 5px;
  margin-left: 0.3125rem;
}

.c-input-col input {
}

.c-input-item {
}

.c-input-item + .c-input-item {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.c-check {
}

.c-check input {
  margin-right: 8px;
  margin-right: 0.5rem;
}

.c-check label {
  font-size: 14px;
  font-size: 0.875rem;
}

.c-cta-btn {
}

.c-cta-btn__pop {
  /* width: 100%; */
  margin: auto;
  margin-bottom: 10px;
  animation: move-y 0.6s infinite alternate ease-in-out;
}

@keyframes move-y {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(4px);
  }
}

.c-cta-btn__pop img {
}

.c-cta-btn__btn {
  /* box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    box-shadow: 0 0 1.25rem rgb(0 0 0 / 30%);
    border-radius: 200px;
    border-radius: 12.5rem; */
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  border-radius: 20px;
}

.c-cta-btn__btn img {
}

.c-moji-ani {
  white-space: nowrap;
  width: 100%;
  line-height: 1;
  display: flex;
}

.c-moji-ani picture {
  height: 100%;
}

.c-moji-ani img {
  max-width: initial;
  height: 100%;
  width: auto;
}

.c-moji-ani > div {
}

.c-moji-ani div:first-child {
  animation: scroll-loop 160s -80s linear infinite;
}

.c-moji-ani div:last-child {
  animation: scroll-loop2 160s linear infinite;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-loop2 {
  0% {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-200%);
  }
}

.c-list {
}

.c-list li {
}

.c-list li:before {
  content: "・";
  position: relative;
  left: -1em;
  margin-right: -1em;
}

@media only screen and (min-width: 768px) {
  .c-list {
  }

  .c-list li {
  }

  .c-list li:before {
  }
}

/* お申し込みページ
============================ */
.c-contact {
  background-color: var(--color__main);
  padding-top: 58.4px;
  padding-top: 3.65rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}

.c-contact__inner {
  width: 94%;
  max-width: 800px;
  margin: auto;
}

.c-contact__ttl {
  text-align: center;
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.c-contact__txt {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
}

.c-contact__box {
  background-color: #fff;
  padding: 29px 16px;
  padding: 1.8125rem 1rem;
  border-radius: 10px;
  border-radius: 0.625rem;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  box-shadow: 0 0.125rem 0.625rem rgb(0 0 0 / 10%);
}

@media only screen and (min-width: 768px) {
  .c-contact {
    padding-top: 100px;
    padding-top: 6.25rem;
  }

  .c-contact__inner {
  }

  .c-contact__ttl {
    font-size: 26px;
    font-size: 1.625rem;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
  }

  .c-contact__txt {
    font-size: 16px;
    font-size: 1rem;
  }

  .c-contact__box {
    padding: 60px;
    padding: 3.75rem;
  }
}

/* よくある質問
============================ */
.c-faq {
  padding: 2rem 0;
}

.c-faq__inner {
  max-width: 580px;
  width: 90%;
  margin: auto;
}

.c-faq__inner h2 {
  position: relative;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.8rem;
  color: #000000;
}

.c-faq__list {
}

.c-faq__item {
  margin-bottom: 12.8px;
  margin-bottom: 0.8rem;
  background-color: #ffffff;
  padding: 20.8px 24px;
  padding: 0.9rem 1.3rem;
  border-radius: 10px;
  border-radius: 0.625rem;
  cursor: pointer;
  border: 2px solid #d6d6d6;
}

.c-faq__item dl {
}

.c-faq__item dl dt {
  cursor: pointer;
  position: relative;
  padding-left: 1.7rem;
  font-size: 15px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-weight: 500;
  padding-right: 24px;
  padding-right: 1.2rem;
  line-height: 1.6;
  position: relative;
}

.c-faq__q {
  font-family: auto;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-37%, -50%);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-wrap: wrap;
  text-align: center;
  background: #0200fb;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  width: 1.6em;
}

.c-faq__item dl dt:after,
.c-faq__item dl dt:before {
  content: "";
  line-height: 0;
  position: absolute;
  top: 50%;
  right: -7%;
  z-index: 5;
  background-color: #0200fb;
}

.c-faq__item dl dt:after {
  transform: translate(-1150%, -50%);
  line-height: 0;
  height: 14px;
  width: 2px;
  transition: transform 0.5s;
}

.c-faq__item dl dt:before {
  transform: translate(-120%, -50%);
  height: 2px;
  width: 14px;
}

.c-faq__item.is-active dt:after {
  transition: transform 0.5s;
  transform: translate(-1150%, -50%) rotate(90deg);
}

.c-faq__item dl dd {
  display: none;
}

.c-faq__item.is-active dd {
  display: block;
  font-size: 15px;
  font-size: 1rem;
  padding: 16px 24px 8px 32px;
  padding: 1rem 1.5rem 0.5rem 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

@media only screen and (min-width: 600px) {
  .c-faq__item dl dt:after,
  .c-faq__item dl dt:before {
    top: 50%;
    right: -4%;
  }
}

@media only screen and (min-width: 768px) {
  .c-faq {
    padding: 2.5rem 0 3rem;
  }

  .c-faq__inner {
    max-width: 800px;
  }

  .c-faq__inner h2 {
    font-size: 35px;
    margin-bottom: 0.8rem;
  }

  .c-faq__list {
  }

  .c-faq__item {
    padding: 1.4rem 1.5rem;
    margin-bottom: 1rem;
  }

  .c-faq__item dl {
  }

  .c-faq__item dl dt {
    font-size: 18px;
    padding-right: 2rem;
  }

  .c-faq__q {
  }

  .c-faq__item dl dt:after,
  .c-faq__item dl dt:before {
    right: -2.5%;
  }

  .c-faq__item dl dt:after {
  }

  .c-faq__item dl dt:before {
  }

  .c-faq__item.is-active dt:after {
  }

  .c-faq__item dl dd {
  font-size: 18px;
  }

  .c-faq__item.is-active dd {
    font-size: 17px;
    padding-right: 2rem;
  }
}

/* フォーム
============================ */
.c-form {
}

.c-form__item {
  margin-bottom: 19.8px;
  margin-bottom: 1rem;
}

.c-form__item-label {
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
}

.c-form__item-label-txt {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  display: inline;
}

.c-form__item-label-hissu,
.c-form__item-label-nini {
  color: white;
  font-size: 11px;
  font-size: 0.65rem;
  line-height: 1;
  padding: 1px 8px 2px;
  padding: 0.2rem 0.3rem 0.25rem;
  text-align: center;
  border-radius: 100px;
  border-radius: 0.2rem;
  margin-left: 8px;
  margin-left: 0.5rem;
  display: inline;
  position: relative;
}

.c-form__item-label-hissu {
  background-color: #ff5236;
}

.c-form__item-label-ttl {
  letter-spacing: 0.1rem;
}

.c-form__item-label-nini {
  background-color: #949494;
}

.c-form__item-hosoku {
  opacity: 0.7;
  font-size: 0.9em;
}

.c-form__item-input {
  display: flex;
  flex-wrap: wrap;
}

.c-form__item-input-wrap {
  flex: 1;
}

.c-form__item-input-wrap + .c-form__item-input-wrap {
  margin-left: 8px;
  margin-left: 0.5rem;
}

.c-form__item-input input,
.c-form__item-input textarea {
  width: 100%;
  margin: 3px 0;
  margin: 0.1875rem 0;
  padding: 19px 20px;
  padding: 1.1875rem 1.25rem;
  border: 1px solid #c7cbcd;
  border-radius: 5px;
  border-radius: 0.3125rem;
  font-size: 16px;
  font-size: 1rem;
}

.c-form__item-input input + input {
}

.c-form__item-select {
  display: inline-block;
  border: 1px solid #cdcdcd;
  padding-right: 10px;
  padding-right: 0.625rem;
  border-radius: 6px;
  border-radius: 0.375rem;
}

.c-form__item-select label.error {
  margin-left: 8px;
  margin-left: 0.5rem;
}

.c-form__item-select select {
  padding: 12px 15px;
  padding: 0.75rem 0.9375rem;
  border: none;
}

.c-form__item-checkbox {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.c-form__item-checkbox .wpcf7-list-item {
  margin: 0 0.5em 0.5em 0;
}

.c-form__item-checkbox label {
  padding: 13px 20px;
  padding: 0.8125rem 1.25rem;
  border: 1px solid #d8d1d1;
  border-radius: 70px;
  border-radius: 4.375rem;
  line-height: 1;
  display: inline-flex;
  align-items: flex-start;
  /* white-space: nowrap; */
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 4.8px;
  margin-bottom: 0.3rem;
  line-height: 1.3;
}

.c-form__item-checkbox label span {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-left: 10px;
  margin-left: 0.625rem;
  line-height: 1.4;
}

.c-form__item-checkbox input {
  margin-right: 6px;
  margin-right: 0.375rem;
  margin-top: 3.2px;
  margin-top: 0.2rem;
}

.c-form__submit {
}

.c-form__submit {
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-top: 2.025rem;
}

.c-form__submit:after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  width: 0.4375rem;
  height: 12px;
  height: 0.75rem;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%227.516%22%20height%3D%2212.994%22%3E%3Cpath%20d%3D%22M.985%200a.924.924%200%2000-.608%201.637l4.8%204.845-4.8%204.843a.924.924%200%20101.2%201.4l5.615-5.539a.924.924%200%20000-1.406L1.577.235A.924.924%200%2000.985.002z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  top: 50%;
  right: 15px;
  right: 3rem;
  transform: translate(0%, -50%);
}

.c-form__submit input {
  background: rgb(255, 133, 0);
  background: linear-gradient(
    54deg,
    rgba(255, 133, 0, 1) 0%,
    rgba(255, 79, 115, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  border-radius: 5rem;
  padding: 19px;
  padding: 1.1875rem;
  width: 90%;
  margin: auto;
  border: none;
  letter-spacing: 0.15em;
  text-shadow: 0 0 6px rgb(0 0 0 / 10%);
  text-shadow: 0 0 0.375rem rgb(0 0 0 / 10%);
  box-shadow: 0 3px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 0.1875rem 0 rgb(0 0 0 / 10%);
  margin-top: 3rem;
}

.c-form__policy {
  border: 1px solid #ccc;
  overflow-y: scroll;
  height: 100px;
  height: 6.25rem;
  padding: 10px;
  padding: 0.625rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  margin-top: 17px;
  margin-top: 1.0625rem;
}

.c-form__policy * {
  font-size: 12px !important;
  font-size: 0.75rem !important;
}

.c-form__item-doui {
  text-align: center;
  font-size: 15px;
  font-size: 0.9375rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

.c-form__item-doui-label {
  display: flex;
  align-items: center;
  line-height: 1;
  justify-content: center;
}

.c-form__item-doui-label input {
  margin-right: 4px;
  margin-right: 0.25rem;
}

.c-form label.error {
  color: red;
  font-size: 0.9em;
  border: none;
  padding: 0;
  margin: 0;
}

label.error {
  display: block !important;
}

.form-last-txt {
  text-align: center;
  line-height: 1.7;
  margin: 2rem 0 3rem;
  font-size: 0.9rem;
}

@media only screen and (min-width: 768px) {
  .c-form {
  }

  .c-form__item {
  }

  .c-form__item-label {
  }

  .c-form__item-label-txt {
  }

  .c-form__item-label-hissu,
  .c-form__item-label-nini {
  }

  .c-form__item-label-hissu {
    font-size: 0.9em;
  }

  .c-form__item-label-ttl {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
  }

  .c-form__item-label-nini {
  }

  .c-form__item-input {
  }

  .c-form__item-input input,
  .c-form__item-input textarea {
  }

  .c-form__item-select {
  }

  .c-form__item-select select {
  }

  .c-form__item-checkbox {
  }

  .c-form__item-checkbox .wpcf7-list-item {
  }

  .c-form__item-checkbox label {
  }

  .c-form__item-checkbox label span {
  }

  .c-form__item-checkbox input {
  }

  .c-form__submit {
  }

  .c-form__submit {
  }

  .c-form__submit:after {
    right: 2.3rem;
  }

  .c-form__submit input {
    max-width: 420px;
    margin: auto;
    margin-top: 3rem;
    padding: 1.5rem 0;
    font-size: 1.4rem;
    margin-top: 4rem;
  }

  .c-form__policy {
    margin-bottom: 27px;
    margin-bottom: 1.6875rem;
    margin-top: 25.6px;
    margin-top: 1.6rem;
  }

  .c-form__policy * {
  }

  .c-form__item-doui {
  }

  .c-form__item-doui-label {
  }

  .c-form__item-doui-label input {
  }

  .form-last-txt {
    line-height: 2;
  }
}

/* フッター
============================ */
.c-footer {
  padding: 20px;
  padding: 1.6rem 1.25rem;
  text-align: center;
  background-color: #2a2c2f;
  line-height: 1.5;
}

.c-footer__inner {
  color: #aaa;
}

.c-footer__link-wrap {
}

.c-footer__link {
  margin-bottom: 10px;
  margin-bottom: 0.2rem;
  color: white;
}

.c-footer__link-item {
  font-size: 15px;
  font-size: 0.9375rem;
  margin: 0 10px;
  margin: 0 0.625rem;
  color: white;
  font-size: 12.5px;
  opacity: 0.9;
}

.c-footer__copyright {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  opacity: 0.9;
}

@media only screen and (min-width: 768px) {
  .c-footer {
    padding: 2rem;
  }

  .c-footer__inner {
  }

  .c-footer__link-wrap {
  }

  .c-footer__link {
  }

  .c-footer__link-item {
  }

  .c-footer__copyright {
  }
}
